# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md


fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
.gitignore
.travis.yml
COPYING.GPLv2
COPYING.GPLv3
COPYING.LGPLv2.1
COPYING.LGPLv2.1.txt
COPYING.LGPLv3
MODULE_LICENSE_APACHE2
NEWS.md
NOTICE
README.md
android/
compile-android-j4a.sh
config/
doc/
ijkmedia/
ijkprof/
init-android-exo.sh
init-android-j4a.sh
init-android-libsoxr.sh
init-android-libyuv.sh
init-android-openssl.sh
init-android-prof.sh
init-android.sh
init-config.sh
init-ios-openssl.sh
init-ios.sh
Would skip repository ios/ffmpeg-arm64
Would skip repository ios/ffmpeg-armv7
Would skip repository ios/ffmpeg-i386
Would skip repository ios/ffmpeg-x86_64
ios/.DS_Store
ios/.gitignore
ios/build
ios/compile-ffmpeg.sh
ios/compile-openssl.sh
ios/IJKMediaDemo
ios/IJKMediaPlayer
ios/IJKMediaPodDemo
ios/tools
tools/
version.sh
